<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookStore</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <navbar class="navbar">
      <div class="container-navbar">
        <a href="/"><h1>BookStore</h1></a>
        <div class="links-navbar">
          <a href="#">Seus Favoritos</a>

          {{#if username}}
            <a href="/createreview">Criar Review</a>
            <a>Olá, {{username}}</a>
            <a href="/logout">Sair</a>
          {{else}}
            <a href="/cadastrar">Criar Conta</a>
            <a href="/login">Login</a>
          {{/if}}
        </div>
      </div>
    </navbar>

    <div class="timeline">
      {{#if username}}
        {{#each users}}
          {{#if reviews}}
            {{#each reviews}}
              <div class="post">
                <h3>{{this.titulo}}</h3>
                <p>{{this.conteudo}}</p>
                <p>Nota: {{this.nota}}</p>
              </div>
            {{/each}}
          {{else}}
            <div class="post">
              <p>Você ainda não fez nenhum review.</p>
            </div>
          {{/if}}
        {{/each}}
      {{else}}
        <div class="main">
          <h2>Crie sua Conta ou Faça login para Ver os Melhores Reviews de
            Livros</h2>
        </div>
      {{/if}}
    </div>

  </body>
</html>